@model IEnumerable<DapperGroupMeeting.Models.GroupMeetingView>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GLeadName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TLeadName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupMeetingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.RoomID)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GLeadName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TLeadName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupMeetingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.RoomID)
            </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new {id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
